{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

<p> Welcome to the experiment! </p>

<p> Thank you for your participation. </p>

<p> This study contains X parts. You are expected to play different games that require mental effort and make decisions in a relevant/irrelevant way. In addition, you may be asked to answer some questions about yourself at the end. </p>

<p> During the experiment, your earnings depend on your performance, the decisions you make and the decisions others make. Your earnings will be randomly selected from three parts, which means your earnings do not accumulate. So please make similar effort to each part. </p>

<p> Finally, please be in an environment where you can study alone and quietly during the experiment. We expect you to answer questions and make decisions individually. During the session, please do not communicate with anyone, and make sure to follow instructions and to connect to Zoom in order to communicate with experimenter in necessary conditions. If you have any questions, you can text the experimenter and ask for help. </p>

<p> Please remember that games will be displayed on this page in your browser. Unless told otherwise please do not leave this page, and be sure to close other applications/tabs that might distract you. </p>

<p> Click “Continue” to answer some questions about the rules when you are ready.</p>

{% next_button %}

{% endblock %}
